{% extends "layout.html" %} {% block title %}Add News{% endblock %} {% block
content %}
<h2 class="text-2xl font-bold mb-4">📰 Add News</h2>
<form
  method="POST"
  enctype="multipart/form-data"
  class="bg-white p-6 rounded shadow max-w-2xl"
>
  <input
    name="title"
    type="text"
    placeholder="News Title"
    required
    class="w-full mb-4 p-2 border rounded"
  />
  <textarea
    name="content"
    placeholder="News Content"
    required
    class="w-full mb-4 p-2 border rounded"
    rows="6"
  ></textarea>
  <div class="mb-4">
  <label class="block mb-1 font-semibold">Category</label>
  <select name="category" class="w-full p-2 border rounded" required>
    {% for cat in categories %}
    <option value="{{ cat[0] }}"
  {% if news and news[3] == cat[0] %}selected{% endif %}>
  {{ cat[1] }}
</option>
    {% endfor %}
  </select>
</div>
  <input name="image" type="file" accept="image/*" class="w-full mb-4" />
  <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded">
    Publish
  </button>
</form>
{% endblock %}
